body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.navigation{
	background-color: rgba(2, 102, 92, 0.8);
	display: flex;
	color:white;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

h2 {
	margin: 1%;
}

span{
	margin: 1%;
}

.fa-bars:hover {
	background-color:rgb(2, 102, 92); 
}

#map{
	height: 100vh;
	width: 100%;
}

.slide-menu {
	min-width: 255px;
	position: absolute;
	z-index: 2;
	background-color:  rgba(2, 102, 92, 0.8);
	color: white;
	text-align: center;
	transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
    height: 100vh;
}

.menu-hidden .slide-menu {
    transform: translate3d(-20em, 0, 0);
    transition: transform 0.2s;
}

.form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
} 

.form input {
	font-size: 1em;
	text-align: center;
}

.btn {
	text-decoration: none;
	border:1px solid #03A9F4;
	color:white;
	padding: 1%;
	background-color: rgba(3,169,244,0.8)
}

#list-view {
	list-style-type: none;
	padding: 0;
	margin: 1% auto;
}

#list-view li {
	margin: 1.5%;
	padding: 1.5%;
	text-align: left;
	transition: transform 0.5s;
	transition:background-color 0.5s;
}

#list-view li:hover {
    font-family: 'Quicksand:700', sans-serif;
	transform:perspective(300px) translate3d(0, 0, 10px);
	background-color: rgba(2, 102, 92, 1);
}

@media screen and (min-width: 500px) {
	.navigation {
		justify-content: space-around;
		padding: 1%;
	}
}

@media screen and (min-width: 700px) {
	.navigation {
		justify-content: flex-start;
		padding: 0.5%;
	}

	.menu-hidden .slide-menu {
		transform: translate3d(0, 0, 0);
	}

	.slide-menu {
		transform: translate3d(-20em, 0, 0);
	}

}





